@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
    font-size: 10px;
    font-family: 'Oswald', sans-serif;
}
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    justify-content: center;
    align-items: center;
}
.image-content{
    background: url(./images/bg3.jpg);
    background-repeat: no-repeat;
    background-color: #ffff33;
    background-size: cover;
    image-rendering: ;
    position: relative;
    /* border: 3px solid white; */
    width: 400px;
    height: 300px;
    display: flex;

}
.image-content img{
    width: 100%;
    height: 100%;

}
.box{
    width: 55px;
    height: 89px;
    /* border: 3px solid rebeccapurple; */
    justify-items: center;
    margin-top: 205px;
    margin-left: 10px;
    background-color: white;
    text-align: center;
    color: black;
    font-weight: bold;
}
.box h1{
    font-size: 11px;
}
.box p{
    background-color: black;
    color: #ffff33;
}
.box small{
font-size: 9px;
}
.box2{
    margin-left: 9px;
}
.box3{
    margin-left: 9px;
}

.content-holder{
    background-color: #ffcd01;
    width: 400px;
    height: 90px;
    display: flex;
    align-items: center;
    position: relative;
    padding-bottom: 5px;
}
.content-holder .text{
    opacity: ;
    padding-left: 20px;
    font-weight: bolder;
    margin: 5px;
    width: 60%;

}
.content-holder .text h1{
    font-size: 19px;
    overflow: auto;
    width: 900px;
}
.content-holder .text h4{
    font-size: 14px;
    width: 500px;
}
.content-holder .text small{
    font-size: 10px;
}
.mtn-holder{
    position: absolute;
    left: 310px;
    padding: 10px;
    top: 10px;
    margin-right: 17px;
}
.mtn-holder h3{
    border: 3px solid black;
    border-radius: 50% / 50% ;
    border-width: 3px;
    font-weight: bolder;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 1.2rem;
    letter-spacing: px;
    margin: 10px;
}