body {
    background-color: teal;
}
* {
    box-sizing: border-box;
}
.move{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.nove {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container {
    margin: auto;
    width: 50%;
    padding: 16px ;
    background-color: white;
    box-shadow: 20px 20px 20px 0px rgba(0, 0, 0, 0, 7);
    color: ;
}
input[type='text'],
input[type='password'] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
}
input[type='text']:focus,
input[type='password']:focus {
    background-color: white;
    outline: none;
}
.registerbtn{
    background-color: teal;
    color: white;
    padding: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin: auto;
    opacity: 0.8;
    font-size: 20px;
}
.registerbtn:hover{
    opacity: 1;
}